* {
  margin: 0px;
  padding: 0px;
}

.div1 {
  background-color: rgb(232, 240, 246);
  height: ;

}

.div2 {
  border: 2px;
  border-radius: 13px;

  background-color: rgb(220, 237, 238);
  margin: 0 60px;
  display: flex;
  padding: 20px;


}

.btn-secondary {
  background-color: rgb(220, 237, 238);
}

.input1 {
  border-radius: 10px 0px 0px 10px;
  border: 0px;
  height: 28px;
}

.btn1 {
  height: 28px;
  border-radius: 0px 10px 10px 0;
  border: 0px;
  background-color: white;
  width: 30px;
}

.div2 li {
  list-style: none;
  margin-left: 20px;

}

.div2 li a {
  text-decoration: none;
  color: rgb(97, 94, 94);
}

/* cards */
.cards {
  display: flex;
  margin-left: 40px;
}


.card1 {
  height: 400px;
  width: 300px;
  background-color: rgb(220, 237, 238);
  margin-left: 60px;
  margin-top: 30px;
  border-radius: 20px;


}

.card1 img {
  height: 263px;
  width: 100%;
  padding: 10px;
  border-radius: 20px;
}


.card2 {
  display: flex;
  text-align: center;
}

.card3 {
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
}

.card4 {
  display: flex;
  justify-content: space-around;


}

.card5 {
  display: flex;
  justify-content: space-around;


}

.card6 {

  margin-top: 10px;
  height: 1px;
  width: 241px;
  margin: 0px 30px;
  background-color: rgb(44, 44, 45);
}

.card7 {
  display: flex;
  margin-top: 10px;
  margin-left: 10px;

}

.card7-1 {
  margin-top: 10px;
  padding-left: 10px;
}

.card7-2 {
  margin-left: 70px;

}

.card7-btn {
  width: 60px;
  border-radius: 10px;
  background-color: rgb(162, 162, 221);
}

.footer {
  margin: 30px 60px 0px 60px;
  background-color: rgb(220, 237, 238);
  display: flex;
  justify-content: space-between;
}

.btnm .btn {
  background-color: white;
  color: black;
  margin-right: 10px;
  border-radius: 10px;
  height: 40px;
  width: 40px;

}